
        <div>
            <h1>Bangazon Task Tracker</h1>

            <article>
                <h1>Add a Task Here!</h1>
                <!-- this file allows the user to input a new task into each field and then submit -->
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="name" ng-model="UserTask.Name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="month end closing" ng-model="UserTask.Description">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" placeholder="ToDo" ng-model="UserTask.Status">
                    </div>
                    <div class="form-group">
                        <label>CompletedOn</label>
                        <input type="text" class="form-control" placeholder="2/29/2017" ng-model="UserTask.CompletedOn">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default" ng-click="AddUserTask(UserTask)">Add Your Task</button>
                    </div>
                </form>
            </article>
         </div>
