
    <article>
        <div ng-repeat="userTask in userTasks">
            <ul>
                <li>{{UserTask.Name}}</li>
                <li>{{UserTask.Description}}</li>
                <li>{{UserTask.Status}}</li>
                <li>{{UserTask.CompletedOn}}</li>
                <li><button ng-click="UpdateUserTaskById(id, value)" class="editButton">Edit</button><button ng-click="RemoveActivity(activity.ActivityId)" class="removeButton">Delete</button></li>
            </ul>
         </div>

    </article>


