@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html ng-app="Tracker">
<head>
    <title>Bangazon Task Tracker!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" />
</head>
<body>
    <div ng-view>
        <p>This page is to explain just what this app is all about!</p>
    </div>
    <script type="text/javascript" src="/bundles/jquery"></script>
    <script type="text/javascript" src="/bundles/bootstrap"></script>
    <script type="text/javascript" src="/bundles/app"></script>
</body>
</html>